
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.challenge-d6R {
  padding: 0rem 0rem 1.275rem 0.2rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  width: 100%;

  .app-bar-83B {
    display: flex;
    font-size: 2rem;
    color: #430078;
    font-family: Inter, 'Source Sans Pro';
    margin-bottom: 1.7rem;
    box-sizing: border-box;
    line-height: 1.2125;
    flex-shrink: 0;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.0599999987);
    background-color: #ffffff;
    padding: 5.3rem 2.25rem 2.2rem 2.25rem;
    width: 37.5rem;
    font-weight: 700;
    white-space: nowrap;
  }
  .group-177193-MAq {
    width: calc(100% - 1.5rem);
    height: 12rem;
    align-items: center;
    border-radius: 1.5rem;
    padding: 2rem 8.1rem 2rem 2.3rem;
    box-sizing: border-box;
    display: flex;
    background-color: rgba(242, 242, 250, 0.5);
    flex-shrink: 0;
    margin: 0rem 0rem 2.2rem 1.5rem;

    .mask-group-STB {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 1.7rem;
      width: 8rem;
      height: 8rem;
      position: relative;
      object-fit: contain;
    }
    .auto-group-swzm-a3b {
      margin: 1.9rem 0rem 1.5rem 0rem;
      height: calc(100% - 3.4rem);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .item--uLm {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        line-height: 0.875;
        letter-spacing: 0.12rem;
        color: #000000;
        font-weight: 600;
        margin-bottom: 0.8rem;
        display: flex;
        font-size: 2.4rem;
      }
      .kg-oh3 {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
      }
    }
  }
  .item--WLZ {
    box-sizing: border-box;
    border: solid 0.1rem #ffffff;
    background-color: #ffffff;
    flex-shrink: 0;
    border-radius: 0.8rem;
    margin: 0rem 0rem 1.6rem 4.1rem;
    padding: 2.4rem 3.4rem 1.4rem 2.4rem;
    width: calc(100% - 4.1rem);
    display: flex;
    align-items: center;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.150000006);

    .text-1HK {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.2rem;
      font-weight: 600;
      line-height: 1.5;
      margin: 0rem 12.6rem 1rem 0rem;
      letter-spacing: -0.0066rem;
    }
    .outline-check-circle-guF {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 1.3rem;
      width: 3rem;
      height: 3rem;
    }
  }
  .item--N1P {
    background-color: #ffffff;
    flex-shrink: 0;
    margin: 0rem 0rem 1.6rem 4.1rem;
    padding: 2.4rem 3.4rem 1.4rem 2.4rem;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.150000006);
    align-items: center;
    border: solid 0.1rem #ffffff;
    border-radius: 0.8rem;
    box-sizing: border-box;
    width: calc(100% - 4.1rem);
    display: flex;

    .text-UKK {
      font-weight: 600;
      line-height: 1.5;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 11.4rem 1rem 0rem;
      font-size: 2.2rem;
      letter-spacing: -0.0066rem;
      font-family: Inter, 'Source Sans Pro';
    }
    .outline-check-circle-BUd {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 1.3rem;
      width: 3rem;
      height: 3rem;
    }
  }
  .item--Gky {
    margin-bottom: 1.6rem;
    padding: 2.4rem;
    width: 34.3rem;
    font-size: 2.2rem;
    line-height: 1.5;
    border-radius: 0.8rem;
    font-family: Inter, 'Source Sans Pro';
    background-color: #ffffff;
    box-sizing: border-box;
    font-weight: 600;
    letter-spacing: -0.0066rem;
    white-space: nowrap;
    border: solid 0.1rem #ffffff;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.150000006);
    color: #000000;
    flex-shrink: 0;
  }
  .item--7Wh {
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.150000006);
    box-sizing: border-box;
    width: 34.3rem;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    font-size: 2.2rem;
    line-height: 1.5;
    letter-spacing: -0.0066rem;
    border: solid 0.1rem #ffffff;
    flex-shrink: 0;
    margin-bottom: 13.375rem;
    font-weight: 600;
    background-color: #ffffff;
    border-radius: 0.8rem;
    padding: 2.4rem;
    color: #000000;
  }
  .auto-group-gvwm-mr9 {
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 2.3rem 0rem 3.6rem;
    width: calc(100% - 5.9rem);
    display: flex;

    .outline-home-1-UkZ {
      margin: 0.075rem 4.775rem 0rem 0rem;
      width: 2rem;
      height: 2.125rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .outline-message-circle-dots-o29 {
      margin-right: 5rem;
      width: 2.25rem;
      height: 2.25rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .outline-navigation-7oX {
      opacity: 0.61;
      width: 1.75rem;
      height: 2.125rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 4.875rem 0.125rem 0rem;
    }
    .outline-cart-4-pT3 {
      flex-shrink: 0;
      margin: 0rem 4.875rem 0rem 0rem;
      width: 2.375rem;
      height: 2.25rem;
      object-fit: contain;
      vertical-align: top;
    }
    .outline-user-1-LgH {
      margin-bottom: 0rem;
      width: 2rem;
      height: 2.25rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
