
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.map-pdf {
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 80rem;
  position: relative;

  .image-1-Lc1 {
    width: 37.5rem;
    height: 81.2rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    vertical-align: top;
  }
  .group-177237-raM {
    top: 9.5rem;
    width: 34.4rem;
    height: 11.6rem;
    left: 0.8rem;
    flex-direction: column;
    border-radius: 0.8rem;
    position: absolute;
    align-items: center;
    display: flex;

    .item--BMj {
      background-color: #ffffff;
      flex-shrink: 0;
      margin: 0rem 0.1rem 1.8rem 0rem;
      padding: 1.25rem 2.738rem 1.25rem 2.4rem;
      height: 4.9rem;
      display: flex;
      box-shadow: 0 0 3rem rgba(0, 0, 0, 0.150000006);
      box-sizing: border-box;
      width: calc(100% - 0.1rem);
      align-items: center;
      border: solid 0.1rem #ffffff;
      border-radius: 0.8rem;

      .auto-group-ad4d-Eqo {
        font-size: 1.6rem;
        justify-content: center;
        letter-spacing: -0.0048rem;
        flex-shrink: 0;
        margin-right: 13.5375rem;
        width: 13.6rem;
        height: 100%;
        font-weight: 600;
        line-height: 1.5;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        color: #000000;
        display: flex;
        align-items: center;
      }
      .outline-check-circle-FW1 {
        width: 2.025rem;
        height: 2.025rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .item--KVs {
      align-items: center;
      background-color: #ffffff;
      border-radius: 0.8rem;
      border: solid 0.1rem #ffffff;
      box-shadow: 0 0 3rem rgba(0, 0, 0, 0.150000006);
      margin-left: 0.1rem;
      box-sizing: border-box;
      padding: 1.25rem 2.738rem 1.25rem 2.4rem;
      width: calc(100% - 0.1rem);
      height: 4.9rem;
      display: flex;
      flex-shrink: 0;

      .auto-group-27vh-czm {
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
        flex-shrink: 0;
        margin-right: 12.6375rem;
        height: 100%;
        line-height: 1.5;
        letter-spacing: -0.0048rem;
        white-space: nowrap;
        width: 14.5rem;
        color: #000000;
        display: flex;
        justify-content: center;
        font-size: 1.6rem;
        font-weight: 600;
      }
      .outline-check-circle-Hr1 {
        flex-shrink: 0;
        width: 2.025rem;
        height: 2.025rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .group-177193-9tD {
    height: 3.6517rem;
    position: absolute;
    left: 2.1322rem;
    top: 31.6464rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.5582rem;
  }
  .group-177194-spD {
    padding: 2.142rem 2.087rem 2.142rem 2.087rem;
    height: 5.7292rem;
    position: absolute;
    left: 12.1455rem;
    top: 38.3759rem;
    background-position: center;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('REPLACE_IMAGE:2:366');
    width: 5.5826rem;

    .navigation-m8u {
      width: 1.4089rem;
      height: 1.4459rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .group-177235-fk5 {
    box-sizing: border-box;
    padding: 2rem 0rem 2rem 0.2rem;
    width: 5.8rem;
    position: absolute;
    left: 26.3rem;
    height: 8rem;
    top: 49.9rem;
    border-top: solid 0.3rem #9721f2;
    border-bottom: solid 0.3rem #9721f2;

    .line-2-xUH {
      width: 100%;
      height: 0.3rem;
      background-color: #9721f2;
    }
  }
  .line-4-TA9 {
    width: 5.6rem;
    height: 0.3rem;
    position: absolute;
    left: 31.7rem;
    top: 65.1rem;
    background-color: #ffa553;
  }
  .content-PZb {
    box-sizing: border-box;
    padding: 0.7rem 2.6rem 0.7rem 9rem;
    width: 37.5rem;
    left: 0;
    background-color: #ffffff;
    height: 12.7rem;
    position: absolute;
    top: 67.3rem;
    display: flex;
    align-items: flex-start;
    box-shadow: -1rem 0.4rem 2rem rgba(47, 47, 47, 0.1000000015);
    border-radius: 1.6rem 1.6rem 0 0;

    .group-177229-f1K {
      margin-right: 0.2rem;
      width: 3.6rem;
      height: 3.5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-ynlr-ae5 {
      flex-direction: column;
      flex-shrink: 0;
      margin: 0.2rem 1.7rem 0rem 0rem;
      align-items: flex-end;
      display: flex;

      .item-30-00-6sK {
        flex-shrink: 0;
        margin-bottom: 4.6873rem;
        font-size: 4rem;
        font-weight: 400;
        line-height: 0.8;
        color: #4d4d4d;
        font-family: Do Hyeon, 'Source Sans Pro';
        white-space: nowrap;
      }
      .home-indicator-light-Dh3 {
        width: 13.4rem;
        border-radius: 10rem;
        flex-shrink: 0;
        margin-right: 2.7rem;

        .home-indicator-kws {
          width: 100%;
          height: 0.1972rem;
          background-color: #000000;
          border-radius: 10rem;
        }
      }
    }
    .text-5z9 {
      letter-spacing: -0.003rem;
      white-space: nowrap;
      margin-top: 2.4433rem;
      font-size: 1rem;
      font-weight: 600;
      flex-shrink: 0;
      line-height: 1.5;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .mask-group-9UD {
    left: 25.5rem;
    top: 47rem;
    object-fit: contain;
    vertical-align: top;
    width: 4.5rem;
    height: 4.5rem;
    position: absolute;
  }
  .group-177230-sv1 {
    height: 10rem;
    position: absolute;
    width: 14.35rem;
    left: 0;
    top: 63.9rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 4.1rem 0rem 2.4rem 6.4rem;

    .frame-635-aJd {
      margin-right: 2.85rem;
      width: 3.6rem;
      height: 3.5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .outline-stop-Wi5 {
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.1rem;
      width: 1.5rem;
      height: 1.5rem;
      object-fit: contain;
    }
  }
  .group-177233-dGu {
    height: 3.5rem;
    position: absolute;
    left: 30.2rem;
    top: 66.9rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.6rem;
  }
  .vector-kMX {
    object-fit: contain;
    vertical-align: top;
    width: 1.632rem;
    height: 2.1675rem;
    position: absolute;
    left: 25.728rem;
    top: 43.6453rem;
  }
  .vector-Gam {
    width: 1.632rem;
    height: 2.1675rem;
    position: absolute;
    left: 13.92rem;
    top: 36.4532rem;
    object-fit: contain;
    vertical-align: top;
  }
  .app-bar-oah {
    font-size: 2rem;
    white-space: nowrap;
    top: 0;
    font-family: Inter, 'Source Sans Pro';
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.0599999987);
    background-color: #ffffff;
    padding: 5.3rem 2.25rem 2.2rem 2.25rem;
    width: 37.5rem;
    left: 0;
    display: flex;
    font-weight: 700;
    box-sizing: border-box;
    position: absolute;
    line-height: 1.2125;
    color: #430078;
    height: 10rem;
  }
  .group-10-ros {
    position: absolute;
    left: 20.6rem;
    top: 23.2rem;
    object-fit: contain;
    vertical-align: top;
    width: 4.4127rem;
    height: 4.4127rem;
  }
  .ios-status-bar-white-PYu {
    width: 37.5rem;
    height: 4.4rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: contain;
    vertical-align: top;
  }
  .outline-home-1-XQD {
    height: 2.125rem;
    position: absolute;
    left: 3.7rem;
    top: 76.475rem;
    object-fit: contain;
    vertical-align: top;
    width: 2rem;
  }
  .outline-message-circle-dots-ezd {
    position: absolute;
    left: 10.575rem;
    top: 76.475rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.25rem;
    height: 2.25rem;
  }
  .outline-navigation-atH {
    vertical-align: top;
    width: 1.75rem;
    height: 2.125rem;
    position: absolute;
    left: 17.825rem;
    top: 76.475rem;
    object-fit: contain;
  }
  .outline-cart-4-X2q {
    width: 2.375rem;
    height: 2.25rem;
    position: absolute;
    left: 24.65rem;
    top: 76.675rem;
    object-fit: contain;
    vertical-align: top;
  }
  .outline-user-1-3ms {
    width: 2rem;
    height: 2.25rem;
    position: absolute;
    left: 31.7rem;
    top: 76.575rem;
    object-fit: contain;
    vertical-align: top;
  }
}
